html, body, #app {
	width: 100%;
	height: 100%;
}

html, body {

	//background: white;

	.el-dialog {
		--el-dialog-border-radius: 0;
		--el-dialog-bg-color: rgba(0, 0, 0, 1);
	}

	.el-popper {
		--el-popper-border-radius: 0;
	}

	--el-border-radius-base: 0;
	--el-bg-color: rgba(0, 0, 0, .3);

	.el-table {
		--el-table-header-text-color: var(--el-text-color-primary);
	}

	.el-table--small .el-table__cell {
		padding: 0;
	}

	.el-table--small .cell {
		padding: 0 2px;
	}

	.el-button+.el-button {
		margin-left: 1px;
	}
}

