html, body, #app {
	width: 100%;
	height: 100%;
}


html {
	line-height: 1;

	.el-dialog {
		--el-dialog-border-radius: 0;
	}

	.el-popper {
		--el-popper-border-radius: 0;
	}

	--el-border-radius-base: 0;

	.el-table--small .el-table__cell {
		padding: 0;
	}

	.el-table--small .cell {
		padding: 0 2px;
	}

	.el-button+.el-button {
		margin-left: 1px;
	}

	.el-button--small {
		--el-button-size: initial;
		height: 18px;
		padding: 2px 4px;
		line-height: 1;
	}
}

html.dark {

	body {
		background: white;
	}

	.el-dialog {
		--el-dialog-bg-color: rgba(0, 0, 0, 1);
	}

	--el-bg-color: rgba(0, 0, 0, .3);

	.el-table {
		--el-table-header-text-color: var(--el-text-color-primary);
	}
}


